Opdrachten/Deel1/1variabelenendatatypes/bin/*
Opdrachten/Deel1/1variabelenendatatypes/obj/*
Opdrachten/Deel1/2operatoren/bin/*
Opdrachten/Deel1/2operatoren/obj/*
Opdrachten/Deel1/3ifelse/bin/*
Opdrachten/Deel1/3ifelse/obj/*
Opdrachten/Deel1/4switch/bin/*
Opdrachten/Deel1/4switch/obj/*
Opdrachten/Deel1/5forloop/bin/*
Opdrachten/Deel1/5forloop/obj/*
Opdrachten/Deel1/6whileloop/bin/*
Opdrachten/Deel1/6whileloop/obj/*
Opdrachten/Deel1/7array/bin/*
Opdrachten/Deel1/7array/obj/*
Opdrachten/Deel1/8list/bin/*
Opdrachten/Deel1/8list/obj/*
Opdrachten/Deel1/9methode/bin/*
Opdrachten/Deel1/9methode/obj/*

Opdrachten/Deel2/10class/bin/*
Opdrachten/Deel2/10class/obj/*
Opdrachten/Deel2/11constructor/bin/*
Opdrachten/Deel2/11constructor/obj/*
Opdrachten/Deel2/12properties/bin/*
Opdrachten/Deel2/12properties/obj/*
Opdrachten/Deel2/13interfaces/bin/*
Opdrachten/Deel2/13interfaces/obj/*